*:not(html) {
    position:fixed
}

body {
    height: 3000px;
    position: absolute !important;
    overflow-y: auto;
    width:90vw;
}

.box200 {
    width: 200px;
    height:200px;
}

#redbox{
    background-color: red;
    left:0;
}

#bluebox{
    background-color: blue;
    left:250px;
}

#greenbox{
    background-color: green;
    left:500px;
}

.hidden {
    display:none !important;
}