*:not(html,p) {
    position:fixed
}

#scroll_indicator{
    position:fixed;
}

body {
    height: 10000px;
    position: absolute !important;
    overflow-y: auto;
    width:90vw;
}

.box200 {
    width: 200px;
    height:200px;
}

#redbox{
    background-color: red;
    left:0;
}

#bluebox{
    background-color: blue;
    left:250px;
}

#greenbox{
    background-color: green;
    left:500px;
}

.hidden {
    display:none !important;
}

.text-big {
    /* white-space: pre; */
    width:90vw;
    background:rgb(230, 230, 230, 0.5);
    height:2000px;
    left: 5vw;
    padding-left:10px;
    /* transform: translateY(0px); */
}

.text-big p {
    /* white-space: pre; */
    text-wrap: balance;
    width:80vw;
    white-space: normal;
    word-break:break-all;
}